<p>Character</p>

<table>
    <tr>
        <th>Ratings</th>
    </tr>
    <tr data-ng-repeat="statRating in charStatRatings">
        <td>{{ statRating.name }}</td>
        <td>{{ statRating.value }}</td>
    </tr>
    <tr>
        <th>Offensive/Healing</th>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <th>Defensive</th>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <th>PVP</th>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <th>Utility</th>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>
