<p>Character</p>

<div class="equips">
    <div class="left">
        <div>
            <select>
                <option value="">(Head)</option>
            </select>
        </div>
        <div>
            <select data-ng-model="charEquipArmor" data-ng-options="equips.name for equips in charEquipArmorList">
                <option value="">(Armor)</option>
            </select>
        </div>
        <div>
            <select data-ng-model="charEquipArms" data-ng-options="equips.name for equips in charEquipArmsList">
                <option value="">(Arms)</option>
            </select>
        </div>
        <div>
            <select>
                <option value="">(Main Hand)</option>
            </select>
        </div>
        <div>
            <select>
                <option value="">(Off-Hand)</option>
            </select>
        </div>
        <div>
            <select>
                <option value="">(Feet)</option>
            </select>
        </div>
    </div>

    <div class="middle">
        <img src="media/avatar.png">
    </div>

    <div class="right">
        <div>
            <select>
                <option value="">(Neck)</option>
            </select>
        </div>
        <div>
            <select>
                <option value="">(Right Ring)</option>
            </select>
        </div>
        <div>
            <select>
                <option value="">(Left Ring)</option>
            </select>
        </div>
        <div>
            <select>
                <option value="">(Belt)</option>
            </select>
        </div>
        <div>
            <select>
                <option value="">(Shirt)</option>
            </select>
        </div>
        <div>
            <select>
                <option value="">(Pants)</option>
            </select>
        </div>
    </div>

    <div class="bottom">
        <div class="left">
            <select>
                <option value="">(Primary Artifact)</option>
            </select>
        </div>
        <div class="right">
            <select>
                <option value="">(Secondary Artifact 1)</option>
            </select>
            <select>
                <option value="">(Secondary Artifact 2)</option>
            </select>
        </div>
    </div>

    <div class="base">
        <span id="charLevel">
            Level <select data-ng-model="charLevel" data-ng-options="levels for levels in charLevelOptions()" required></select>
        </span>
        <span id="charClass">
            <select data-ng-model="charClass" data-ng-options="classes.className for classes in charPathOptions" required>
                <option value="">(Class)</option>
            </select>
        </span>
        <span id="charParagon">
            <select data-ng-model="charParagon" data-ng-options="paragons for paragons in charClass.paragonPaths" required>
                <option value="">(Paragon)</option>
            </select>
        </span>
        <span id="charRace">
            <select data-ng-model="charRace" data-ng-options="races for races in charRaceOptions" required>
                <option value="">(Race)</option>
            </select>
        </span>
    </div>
</div>

<div class="stats">
    <div class="top">
        <div class="left">AC</div>
        <div class="right">Hit Points</div>
    </div>

    <div class="ability">
        <div class="left">
            <div>{{ charAbility.str }} STR</div>
            <div>{{ charAbility.con }} CON</div>
            <div>{{ charAbility.dex }} DEX</div>
        </div>

        <div class="right">
            <div>{{ charAbility.int }} INT</div>
            <div>{{ charAbility.wis }} WIS</div>
            <div>{{ charAbility.cha }} CHA</div>
        </div>
    </div>

    <table>
        <tr>
            <td>Gear Score</td>
            <td class="value">{{ charGearScore }}</td>
        </tr>
        <tr class="separator">
            <td></td>
        </tr>
        <tr>
            <th>Ratings</th>
        </tr>
        <tr data-ng-repeat="statRating in charStatRatings">
            <td>{{ statRating.name }}</td>
            <td class="value">{{ statRating.value }}</td>
        </tr>
        <tr class="separator">
            <td></td>
        </tr>
        <tr>
            <th>Offensive/Healing</th>
        </tr>
        <tr data-ng-repeat="statOffensive in charStatOffensive">
            <td>{{ statOffensive.name }}</td>
            <td class="value">{{ statOffensive.value }}</td>
        </tr>
        <tr class="separator">
            <td></td>
        </tr>
        <tr>
            <th>Defensive</th>
        </tr>
        <tr data-ng-repeat="statDefensive in charStatDefensive">
            <td>{{ statDefensive.name }}</td>
            <td class="value">{{ statDefensive.value }}</td>
        </tr>
        <tr class="separator">
            <td></td>
        </tr>
        <tr>
            <th>PVP</th>
        </tr>
        <tr data-ng-repeat="statPVP in charStatPVP">
            <td>{{ statPVP.name }}</td>
            <td class="value">{{ statPVP.value }}</td>
        </tr>
        <tr class="separator">
            <td></td>
        </tr>
        <tr>
            <th>Utility</th>
        </tr>
        <tr data-ng-repeat="statUtility in charStatUtility">
            <td>{{ statUtility.name }}</td>
            <td class="value">{{ statUtility.value }}</td>
        </tr>
    </table>
</div>
