<p>Character</p>

<table>
    <tr>
        <th>Ratings</th>
    </tr>
    <tr data-ng-repeat="statRating in charStatRatings">
        <td>{{ statRating.name }}</td>
        <td>{{ statRating.value }}</td>
    </tr>
    <tr>
        <th>Offensive/Healing</th>
    </tr>
    <tr data-ng-repeat="statOffensive in charStatOffensive">
        <td>{{ statOffensive.name }}</td>
        <td>{{ statOffensive.value }}</td>
    </tr>
    <tr>
        <th>Defensive</th>
    </tr>
    <tr data-ng-repeat="statDefensive in charStatDefensive">
        <td>{{ statDefensive.name }}</td>
        <td>{{ statDefensive.value }}</td>
    </tr>
    <tr>
        <th>PVP</th>
    </tr>
    <tr data-ng-repeat="statPVP in charStatPVP">
        <td>{{ statPVP.name }}</td>
        <td>{{ statPVP.value }}</td>
    </tr>
    <tr>
        <th>Utility</th>
    </tr>
    <tr data-ng-repeat="statUtility in charStatUtility">
        <td>{{ statUtility.name }}</td>
        <td>{{ statUtility.value }}</td>
    </tr>
</table>
