/* ========================================
    Character Equipments
======================================== */
.equips {
    float: left;
    position: relative;
    width: 65%;
}

.equips .left {
    float: left;
    padding-bottom: 1em;
}

.equips .right {
    float: right;
    position: absolute;
    right: 0;
    text-align: right;
}

.equips .bottom {
    clear: both;
    float: left;
    padding-bottom: 1em;
}


/* ========================================
    Character Base
======================================== */
.base {
    float: left;
    width: 100%;
}

.base span {
    display: inline-block;
    text-align: center;
    width: 24%;
}


/* ========================================
    Character Stats
======================================== */
.stats {
    float: right;
    width: 30%;
}

.stats .top {
    float: left;
    padding-bottom: 1em;
    position: relative;
    text-align: center;
    width: 100%;
}

.stats .top .left {
    float: left;
    width: 20%;
}

.stats .top .right {
    float: right;
    width: 80%;
}

.stats .ability {
    float: left;
    padding-bottom: 1em;
    position: relative;
    width: 100%;
}

.stats .ability .left {
    float: left;
    width: 50%;
}

.stats .ability .right {
    float: right;
    width: 50%;
}

.stats table {
    width: 100%;
}

.stats table th {
    text-align: left;
}

.stats table .value {
    text-align: right;
}

.stats table .separator > td {
    padding-bottom: 1em;
}
